.deleteButton {
    color: red !important;
    padding: 5px !important;
    margin: 0px !important;
    background: none !important;
}

.preDeleteButton {
    background: none !important;
    padding: 5px !important;
    margin: 0px !important;
}