.mainContainer {
    height: 700px;
}

.homeView {
    padding-left: 100px;
    padding-right: 100px;
    font-weight: 900;
    padding-top: 100px;
    margin-top: 50px;
    font-size: 50px;
    color: #5d5d5d;
    font-family: 'Playfair Display', serif;
}

.counter {
    font-size: 30px;
    font-weight: 100;
}

.otherStats {
    font-weight: 100;
    padding-top: 10px;
    margin-top: 5px;
    font-size: 30px;
}

.bold {
    font-weight: 900;
}